.form-area-top {
  display: flex;
  flex-direction: column; /* Stack divs vertically */
  justify-content: center; /* Vertically center the divs */
  align-items: center;     /* Horizontally center the divs */
       
  gap: 10px;  


  .area-top-title {
    color: var(--text-color-inverted);
  }


  .form1 .MuiInputBase-input{
    color: var(--form-text-color);
  }
  
  .form-controller-1 button{
    display: block; margin: 0 auto
  }

  .form-controller-1 .MuiFormLabel-root{
   color: var(--form-lable-color);
  } 

  .area-top-l {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .form-controller-1 .MuiOutlinedInput-notchedOutline{
    border-color: red;
  } 


// .MuiOutlinedInput-root .Mui-focused .MuiOutlinedInput-notchedOutline {
//     border-color: rgba(158, 156, 15, 0.87);
// }

// .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
//     border-color: rgba(238, 234, 0, 0.87);
// }

// .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
//   border-color: rgba(211, 27, 211, 0.87);
// }

// .MuiOutlinedInput-root .Mui-Focused .MuiOutlinedInput-notchedOutline {
//   border-color: #b6c3d0;
// }

// .MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-fullWidth .MuiInputBase-formControl .css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root
// .MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-fullWidth .MuiInputBase-formControl
// .css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root  .MuiOutlinedInput-notchedOutline {
// border-color: #cc8c7c !important;

// }

  .form-open-btn {
    display: inline-flex;
    align-items: center;
    // display: none;sdsde
    margin-bottom: -1px;
    color: var(--text-color-inverted);

    @media (max-width: 768px) {
      display: inline-flex;
    }
  }

  // react-date-range plugin theme customization
  .date-range-wrapper {
    display: inline-block;
    box-shadow: var(--light-shadow1);

    .rdrDateDisplay {
      margin: 0;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
    }

    .rdrDateRangeWrapper {
      position: relative;
    }

    .rdrMonthAndYearWrapper {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: var(--light-color);
      padding-top: 0;
      height: 40px;
      z-index: 1;
    }

    .rdrMonth {
      padding: 0;
      z-index: 1;
    }

    .rdrWeekDays {
      position: absolute;
      top: calc(100% + 40px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      height: 32px;
      z-index: 1;
    }

    .rdrDays {
      position: absolute;
      top: calc(100% + 40px + 32px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      z-index: 1;
    }

    &.hide-date-range {
      .rdrMonthAndYearWrapper {
        display: none;
      }
      .rdrMonth {
        padding: 0;
      }
      .rdrWeekDays,
      .rdrDays {
        display: none;
      }
    }

    .rdrDateDisplayWrapper {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      outline: var(--secondary-color);

      * {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        outline: var(--secondary-color);
        box-shadow: none;
        color: var(--base-text-color);
      }
    }
  }
}
