.mainGridBox {
    width: 100%;
    height: 600px;

    .actions {
        color: var(--xl-text-color);
    }

    // edite Button color

    // .textPrimary {
    //     color: blue;   
    // ;   }


    .mainDataGrid {
        box-shadow: 2;
        border: 2;
        border-color: rgb(213, 143, 143);

        .MuiDataGrid-cell:hover {
            color: blue;
        }

        .MuiDataGrid-topContainer {
            color: rgb(233, 231, 231);
            .MuiDataGrid-columnHeaders{
                .MuiDataGrid-row--borderBottom{
                    background-color: rgb(78, 34, 209);
                    // height: 50px;
                }
            } 
        }

        .MuiDataGrid-row:nth-of-type(odd) {
            background-color: yellow; // Change row background color
            color: rgb(63, 16, 16); // Change row text color
        }

        .MuiDataGrid-row:nth-of-type(even) {
            background-color: red; // Alternate row color
        }

        .MuiDataGrid-row.Mui-selected {
            background-color: rgb(255, 255, 255); // Selected row background color
            &:hover {
                background-color: rgb(175, 247, 175); // Hover color for selected row
            }
        }





    }


}