.mainGridBox {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    .actions {
        color: var(--xl-text-color);
    }

    // edite Button color

    // .textPrimary {
    //     color: blue;   
    // ;   }


    .mainDataGrid {
        box-shadow: 2;
        border: 2;
        border-color: rgb(213, 143, 143);

        .MuiDataGrid-cell:hover {
            color: blue;
        }

        .MuiDataGrid-topContainer {
            color: rgb(233, 231, 231);
            .MuiDataGrid-columnHeaders{
                .MuiDataGrid-row--borderBottom{
                    background-color: #6e7ef8;
                    color: rgb(255, 255, 255);
                    // height: 50px;
                }
            } 
        }

        .MuiDataGrid-row:nth-of-type(odd) {
            background-color:  #ebedf7;
            color: rgb(63, 16, 16); // Change row text color
        }

        .MuiDataGrid-row:nth-of-type(even) {
            background-color:  #ebedf7;
        }

        .MuiDataGrid-row.Mui-selected {
            background-color: #bdc7fc; // Selected row background color
            &:hover {
                background-color: #b4c0fd; // Selected row background color
            }
        }





    }


}